
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="home" style="position:relative;width:100%;height:100%;">
    @{Html.RenderAction("Dashboard", "Admin");}
</div>

@Scripts.Render("~/bundles/jquery")
